<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzw.item.mapper.TbSpuDetailMapper">

    <select id="selectPageByMap" resultType="com.lzw.item.pojo.TbSpuDetail">
        SELECT * FROM tb_spu_detail
        <where>
        </where>
    </select>
</mapper>
